extends layouts/_layout

block slides
  include pugs/Speaking_the_Same_Language_Matching_Machine_to_Human_Captions_by_Adversarial_Training2.pug
  include pugs/Grabity_A_Wearable_Haptic_Interface_for_Simulating_Weight_and_Grasping_in_Virtual_Reality.pug
  include pugs/Image2song_Song_Retrieval_via_Bridging_Image_Content_and_Lyric_Words.pug
  include pugs/Rico_A_Mobile_App_Dataset_for_Building_Data-Driven_Design_Applications.pug
  include pugs/Modeling_Photo_Composition_and_its_Application_to_Photo_Re-Arrangement.pug
  include pugs/Image_Generation_from_Scene_Graphs.pug
  include pugs/SketchMate_Deep_Hashing_for_Million-Scale_Human_Sketch_Retrieval.pug
  include pugs/MakeupGAN_Makeup_Transfer_via_Cycle-Consistent_Adversarial_Networks.pug
  include pugs/The_Unreasonable_Effectiveness_of_Deep_Features_as_a_Perceptual_Metric.pug
  include pugs/How_to_Make_an_Image_More_Memorable_Deep_Style_Transfer_Approach.pug
  include pugs/UNSUPERVISED_REPRESENTATION_LEARNING_BY_PREDICTING_IMAGE_ROTATIONS.pug
  include pugs/Non-local_Neural_Networks.pug
  include pugs/Fashion_Forward_Forecasting_Visual_Style_in_Fashion.pug
  include pugs/Towards_Open-Set_Identity_Preserving_Face_Synthesis.pug
  include pugs/End-to-End_Multi-Task_Learning_with_Attention.pug
  include pugs/Unsupervised_Textual_Grounding_Linking_Words_to_Image_Concepts.pug
  include pugs/Motion-Appearance_Co-Memory_Networks_for_Video_Question_Answering.pug
  include pugs/Context-aware_Synthesis_for_Video_Frame_Interpolation.pug
  include pugs/Referring_Relationships.pug
  include pugs/HDLTex_Hierarchical_Deep_Learning_for_Text_Classification.pug
  include pugs/Who_Let_The_Dogs_Out_Modeling_Dog_Behavior_From_Visual_Data.pug
  include pugs/Weakly-Supervised_Action_Segmentation_with_Iterative_Soft_Boundary_Assignment.pug
  include pugs/MaskRNN_Instance_Level_Video_Object_Segmentation.pug
  include pugs/Iterative_Visual_Reasoning_Beyond_Convolutions.pug
  include pugs/Deep_Depth_Completion_of_a_Single_RGB-D_Image.pug
  include pugs/LayoutNet_Reconstructing_the_3D_Room_Layout_from_a_Single_RGB_Image.pug
  include pugs/Explicit_Reasoning_over_End-to-End_Neural_Architectures_for_Visual_Question_Answering.pug
  include pugs/Efficient_Interactive_Annotation_of_Segmentation_Datasets_with_Polygon-RNN.pug
  include pugs/Multi-Level_Factorisation_Net_for_Person_Re-Identification.pug
  include pugs/CSfM_Community-based_Structure_from_Motion.pug
  include pugs/PDNet_Prior-model_Guided_Depth-enhanced_Network_for_Salient_Object_Detection.pug
  include pugs/Pyramid_Stereo_Matching_Network.pug
  include pugs/Learning_Shape-from-Shading_for_Deformable_Surfaces.pug
  include pugs/P2P-NET_Bidirectional_Point_Displacement_Net_for_Shape_Transform.pug
  include pugs/Fast_and_Accurate_Single_Image_Super-Resolution_via_Information_Distillation_Network.pug
  include pugs/ITERATIVE_LOW-RANK_APPROXIMATION_FOR_CNN_COMPRESSION.pug
  include pugs/Coherence_in_One-Shot_Gesture_Recognition_for_Human-Robot_Interaction.pug
  include pugs/HMDwo_mochiita_3jigen_gesture_sousani_yoru_botsunyuugata_tentai_kyouzaino_kaihatsu.pug
  include pugs/Learning_Intelligent_Dialogs_for_Bounding_Box_Annotation.pug
  include pugs/Social_GAN_Socially_Acceptable_Trajectories_with_Generative_Adversarial_Networks.pug
  include pugs/Movie_Editing_and_Cognitive_Event_Segmentation_in_Virtual_Reality_Video.pug
  include pugs/VNect_Real-time_3D_Human_Pose_Estimation_with_a_Single_RGB_Camera.pug
  include pugs/Discovering_and_synthesizing_humanoid_climbing_movements.pug
  include pugs/Phase-Functioned_Neural_Networks_for_Character_Control.pug
  include pugs/DeepLoco_Dynamic_Locomotion_Skills_Using_Hierarchical_Deep_Reinforcement_Learning.pug
  include pugs/Regularized_Kelvinlets_Sculpting_Brushes_based_on_Fundamental_Solutions_of_Elasticity.pug
  include pugs/Variance-Minimizing_Transport_Plans_for_Inter-surface_Mapping.pug
  include pugs/Needs_and_Expectations_for_Fully_Autonomous_Vehicle_Interfaces.pug
  include pugs/Learning_Transferable_Architectures_for_Scalable_Image_Recognition.pug
  include pugs/Progressive_Neural_Architecture_Search.pug
  include pugs/MentorNet_Regularizing_Very_Deep_Neural_Networks_on_Corrupted_Labels.pug
  include pugs/Long-term_Tracking_in_the_Wild_A_Benchmark.pug
  include pugs/Am_I_Done_Predicting_Action_Progress_in_Videos.pug
  include pugs/WebSeg_Learning_Semantic_Segmentation_from_Web_Searches.pug
  include pugs/Three_Birds_One_Stone_A_Unified_Framework_for_Salient_Object_Segmentation_Edge_Detection_and_Skeleton_Extraction.pug
  include pugs/Towards_Human-Machine_CooperationSelf-supervised_Sample_Mining_for_Object_Detection.pug
  include pugs/Image_Semantic_Transformation_Faster_Lighter_and_Stronger.pug
  include pugs/A_New_Target-specific_Object_Proposal_Generation_Method_for_Visual_Tracking.pug
  include pugs/Robust_Depth_Estimation_from_Auto_Bracketed_Images.pug
  include pugs/Unsupervised_Representation_Learning_by_Predicting_Image_Rotations.pug
  include pugs/Fusion_of_stereo_and_still_monocular_depth_estimates_in_a_self-supervised_learning_context.pug
  include pugs/Dynamic_Sampling_Convolutional_Neural_Networks.pug
  include pugs/Show_Tell_and_Discriminate_Image_Captioning_by_Self-retrieval_with_Partially_Labeled_Data.pug
  include pugs/Exploiting_deep_residual_networks_for_human_action_recognition_from_skeletal_data.pug
  include pugs/A_Minimalist_Approach_to_Type-Agnostic_Detection_of_Quadrics_in_Point_Clouds.pug
  include pugs/Zero-shot_Recognition_via_Semantic_Embeddings_and_Knowledge_Graphs.pug
  include pugs/Actor_and_Action_Video_Segmentation_from_a_Sentence.pug
  include pugs/Unsupervised_Cross-dataset_Person_Re-identification_by_Transfer_Learning_of_Spatial-Temporal_Patterns.pug
  include pugs/HATS_Histograms_of_Averaged_Time_Surfaces_for_Robust_Event-based_Object_Classification.pug
  include pugs/Speech-Driven_Facial_Reenactment_Using_Conditional_Generative_Adversarial_Networks.pug
  include pugs/Facial_Landmarks_Detection_by_Self-Iterative_Regression_based_Landmarks-Attention_Network.pug
  include pugs/Zoom_and_Learn_Generalizing_Deep_Stereo_Matching_to_Novel_Domains.pug
  include pugs/Alive_Caricature_from_2D_to_3D.pug
  include pugs/Face2Text_Collecting_an_Annotated_Image_Description_Corpus_for_the_Generation_of_Rich_Face_Descriptions.pug
  include pugs/Style_Aggregated_Network_for_Facial_Landmark_Detection.pug
  include pugs/phi-LSTM_A_Phrase-based_Hierarchical_LSTM_Model_for_Image_Captioning.pug
  include pugs/Discriminative_Learning_of_Latent_Features_for_Zero-Shot_Recognition.pug
  include pugs/Boosted_Convolutional_Neural_Networks.pug
  include pugs/Rotation-Sensitive_Regression_for_Oriented_Scene_Text_Detection.pug
  include pugs/Weakly-Supervised_Action_Segmentation_with_Iterative_Soft_Boundary_Assignment.pug
  include pugs/COCO-Stuff_Thing_and_Stuff_Classes_in_Context.pug
  include pugs/Semantic_Part_Detection_with_Object_Context.pug
  include pugs/Show_Tell_and_Discriminate_Image_Captioning_by_Self-retrieval_with_Partially_Labeled_Data_2.pug
  include pugs/YOLOv3_An_Incremental_Improvement.pug
  include pugs/Teleoperation_of_a_Robot_through_Audio-Visual_Signal_via_Video_Chat.pug
  include pugs/Deep_Reinforcement_Learning_of_Abstract_Reasoning_from_Demonstrations.pug
  include pugs/Learning_to_Judge_Like_a_Human_Convolutional_Networks_for_Classification_of_Ski_Jumping_Errors.pug
  include pugs/DNN-HMM_based_Automatic_Speech_Recognition_for_HRI_Scenarios.pug
  include pugs/TOM-Net_Learning_Transparent_Object_Matting_from_a_Single_Image.pug
  include pugs/Multi-Frame_Quality_Enhancement_for_Compressed_Video.pug
  include pugs/Dont_count_predict_A_systematic_comparison_of_context-counting_vs_context-predicting_semantic_vectors.pug
  include pugs/Improving_word_representations_via_global_context_and_multiple_word_prototypes.pug
  include pugs/Unsupervised_learning_of_common_sense_event_structures_from_simple_English_stories.pug
  include pugs/A_Minimalist_Approach_to_Type-Agnostic_Detection_of_Quadrics_in_Point_Clouds.pug
  include pugs/Actor_and_Action_Video_Segmentation_from_a_Sentence.pug
  include pugs/Unsupervised_Cross-dataset_Person_Re-identification_by_Transfer_Learning_of_Spatio-temporal_Patterns.pug
  include pugs/Towards_Universal_Representation_for_Unseen_Action_Recognition.pug
  include pugs/Robust_Depth_Estimation_from_Auto_Bracketed_Images.pug
  include pugs/Inferring_Person-to-person_Proximity_Using_WiFi_Signals.pug
  include pugs/CSGNet_Neural_Shape_Parser_for_Constructive_Solid_Geometry.pug
  include pugs/Affective_image_adjustment_with_a_single_word.pug
  include pugs/Detecting_and_Recognizing_Human-Object_Interactions.pug
  include pugs/Multiple-Human_Parsing_in_the_Wild.pug
  include pugs/Learning_to_Localize_Sound_Source_in_Visual_Scenes.pug
  include pugs/Training_of_Convolutional_Networks_on_Multiple_Heterogeneous_Datasets_for_Street_Scene_Semantic_Segmentation.pug
  include pugs/Fusing_Hierarchical_Convolutional_Features_for_Human_Body_Segmentation_and_Clothing_Fashion_Classification.pug
  include pugs/Learning_Category-Specific_Mesh_Reconstruction_from_Image_Collections.pug
  include pugs/Learning_from_Physical_Human_Corrections_One_Feature_at_a_Time.pug
  include pugs/Understanding_Deep_Image_Representations_by_Inverting_Them.pug
  include pugs/Illumination-aware_Faster_R-CNN_for_Robust_Multispectral_Pedestrian_Detection.pug
  include pugs/Learning_from_Richer_Human_Guidance_Augmenting_Comparison-Based_Learning_with_Feature_Queries.pug
  include pugs/Deep_Affordance-grounded_Sensorimotor_Object_Recognition.pug
  include pugs/Colorful_Image_Colorization.pug
  include pugs/Active_Robot_Learning_for_Temporal_Task_Models.pug
  include pugs/VIDEO_LANGUAGE_MODELING_A_BASELINE_FOR_GENERATIVE_MODELS_OF_NATURAL_VIDEOS.pug
  include pugs/Low-resource_Multi-task_Audio_Sensing_for_Mobile_and_Embedded_Devices_via_Shared_Deep_Neural_Network_Representations.pug
  include pugs/Devices_and_Data_and_Agents_Oh_My_How_Smart_Home_Abstractions_Prime_End-User_Mental_Models.pug
  include pugs/FootStriker_An_EMS-based_Foot_Strike_Assistant_for_Running.pug
  include pugs/BlindType_Eyes-Free_Text_Entry_on_Handheld_Touchpad_by_Leveraging_Thumbs_Muscle_Memory.pug
  include pugs/Unsupervised_Learning_of_Visual_Representations_by_Solving_Jigsaw_Puzzles.pug
  include pugs/Dynamic_Vision_Sensors_for_Human_Activity_Recognition.pug
  include pugs/Future_Frame_Prediction_for_Anomaly_Detection_--_A_New_Baseline.pug
  include pugs/3D_Human_Pose_Estimation_in_RGBD_Images_for_Robotic_Task_Learning.pug
  include pugs/Independently_Recurrent_Neural_Network_IndRNN_Building_A_Longer_and_Deeper_RNN.pug
  include pugs/Improving_Object_Localization_with_Fitness_NMS_and_Bounded_IoU_Loss.pug
  include pugs/Object_Recognition_with_and_without_Objects.pug
  include pugs/Rethinking_Feature_Distribution_for_Loss_Functions_in_Image_Classification.pug
  include pugs/Domain_Adaptive_Faster_R-CNN_for_Object_Detection_in_the_Wild.pug
  include pugs/Guided_Labeling_using_Convolutional_Neural_Networks.pug
  include pugs/Pose-Robust_Face_Recognition_via_Deep_Residual_Equivariant_Mapping.pug
  include pugs/SPICE_Semantic_Propositional_Image_Caption_Evaluation.pug
  include pugs/Semantic_Compositional_Networks_for_Visual_Captioning.pug
  include pugs/TSSD_Temporal_Single-Shot_Detector_Based_on_Attention_and_LSTM_for_Robotic_Intelligent_Perception.pug
  include pugs/Boosting_Image_Captioning_with_Attributes.pug
  include pugs/Speaking_the_Same_Language_Matching_Machine_to_Human_Captions_by_Adversarial_Training.pug
  include pugs/Scene_Graph_Generation_from_Objects_Phrases_and_Region_Captions.pug
  include pugs/Areas_of_Attention_for_Image_Captioning.pug
  include pugs/An_Empirical_Study_of_Language_CNN_for_Image_Captioning.pug
  include pugs/Pedestrian_Detection_at_DayNight_Time_with_Visible_and_FIR_Cameras_A_Comparison.pug
  include pugs/Dense-Captioning_Events_in_Videos.pug
  include pugs/Common_Subspace_for_Model_and_SimilarityPhrase_Learning_for_Caption_Generation_from_Images.pug
  include pugs/ASePPI_Robust_Privacy_Protection_Against_De-Anonymization_Attacks.pug
  include pugs/An_Autonomous_Dynamic_Camera_Method_for_Effective_Remote_Teleoperation.pug
  include pugs/Blur_vs_Block_Investigating_the_Effectiveness_of_Privacy-Enhancing_Obfuscation_for_Images.pug
  include pugs/Communicating_Robot_Motion_Intent_with_Augmented_Reality.pug
  include pugs/Planning_with_Trust_for_Human-Robot_Collaboration.pug
  include pugs/From_Dusk_till_Dawn_Modeling_in_the_Dark.pug
  include pugs/Multiple_Instance_Learning_for_Soft_Bags_via_Top_Instances.pug
  include pugs/Robust_Loss_Functions_under_Label_Noise_for_Deep_Neural_Networks.pug
  include pugs/Indirect_Match_Highlights_Detection_with_Deep_Convolutional_Neural_Networks.pug
  include pugs/Combining_Image_Regions_and_Human_Activity_for_Indirect_Object_Recognition_in_Indoor_Wide-Angle_Views.pug
  include pugs/Thank_You_for_Sharing_that_Interesting_Fact_Effects_of_Capability_and_Context_on_Indirect_Speech_Act_Use_in_Task-Based_Human-Robot_Dialogue.pug
  include pugs/Social_Robots_for_Engagement_in_Rehabilitative_Therapies_Design_Implications_from_a_Study_with_Therapists.pug
  include pugs/Guiding_the_Long-Short_Term_Memory_model_for_Image_Caption_Generation.pug
  include pugs/Cartooning_for_Enhanced_Privacy_in_Lifelogging_and_Streaming_Videos.pug
  include pugs/Protecting_Visual_Secrets_Using_Adversarial_Nets.pug
  include pugs/I_Know_That_Person_Generative_Full_Body_and_Face_De-Identification_of_People_in_Images.pug
  include pugs/Fribo_A_Social_Networking_Robot_for_Increasing_Social_Connectedness_through_Sharing_Daily_Home_Activities_from_Living_Noise_Data.pug
  include pugs/What_is_Human-like_Decomposing_Robots_Human-like_Appearance_Using_the_Anthropomorphic_roBOT_ABOT_Database.pug
  include pugs/Characterizing_the_Design_Space_of_Rendered_Robot_Faces.pug
  include pugs/From_Red_Wine_to_Red_Tomato_Composition_with_Context.pug
  include pugs/Expressing_Robot_Incapability.pug
  include pugs/Unsupervised_Visual-Linguistic_Reference_Resolution_in_Instructional_Videos.pug
  include pugs/Improving_Collocated_Robot_Teleoperation_with_Augmented_Reality.pug
  include pugs/Simple_Black-Box_Adversarial_Attacks_on_Deep_Neural_Networks.pug
  include pugs/Deceiving_Googles_Cloud_Video_Intelligence_API_Built_for_Summarizing_Videos.pug
  include pugs/Cut_Paste_and_Learn_Surprisingly_Easy_Synthesis_for_Instance_Detection.pug
  include pugs/Captioning_Images_with_Diverse_Objects.pug
  include pugs/Neural_Scene_De-rendering.pug
  include pugs/Visual_Diarog.pug
  include pugs/Learning_to_Linearize_Under_Uncertainty.pug
  include pugs/Deep_Image_Prior.pug
  include pugs/Catching_the_Temporal_Regions-of-Interest_for_Video_Captioning.pug
  include pugs/Temporal_Relational_Reasoning_in_Videos.pug
  include pugs/Egocentric_Basketball_Motion_Planning_from_a_Single_First-Person_Image.pug
  include pugs/Beyond_Context_Exploring_Semantic_Similarity_for_Tiny_Face_Detection.pug
  include pugs/Toward_Multimodal_Image-to-Image_Translation.pug
  include pugs/Weakly_Supervised_Affordance_Detection.pug
  include pugs/Action_Recognition_with_Coarse-to-Fine_Deep_Feature_Integration_and_Asynchronous_Fusion.pug
  include pugs/MarioQA_Answering_Questions_by_Watching_Gameplay_Videos.pug
  include pugs/Moments_in_Time_Dataset_one_million_videos_for_event_understanding.pug
  include pugs/Vision-and-Language_Navigation_Interpreting_visually-grounded_navigation_instructions_in_real_environments.pug
  include pugs/Joint_Object_Category_and_3D_Pose_Estimation_from_2D_Images.pug
  include pugs/Adversarial_Attacks_Beyond_the_Image_Space.pug
  include pugs/Personalized_Cinemagraphs_using_Semantic_Understanding_and_Collaborative_Learning.pug
  include pugs/Multi-Agent_Cooperation_and_the_Emergence_of_Natural_Language.pug
  include pugs/Turning_an_Urban_Scene_Video_into_a_Cinemagraph.pug
  include pugs/A_Read-Write_Memory_Network_for_Movie_Story_Understanding.pug
  include pugs/Sequence_to_Sequence__Video_to_Text.pug
  include pugs/Deformable_Convolutional_Networks.pug
  include pugs/Image_Captioning_with_Sentiment_Terms_via_Weakly-Supervised_Sentiment_Dataset.pug
  include pugs/Representation_Learning_by_Learning_to_Count.pug
  include pugs/Visual_Storytelling.pug
  include pugs/Inferring_and_Executing_Programs_for_Visual_Reasoning.pug
  include pugs/Deep_mutual_learning.pug
  include pugs/Learning_Features_by_Watching_Objects_Move.pug
  include pugs/Focal_Loss_for_Dense_Object_Detection.pug
  include pugs/Towards_Diverse_and_Natural_Image_Descriptions_via_a_Conditional_GAN.pug
  include pugs/Learning_to_Segment_Every_Thing.pug
  include pugs/One-Shot_Visual_Imitation_Learning_via_Meta-Learning.pug
  include pugs/BAM_The_Behance_Artistic_Media_Dataset_for_Recognition_Beyond_Photography.pug
  include pugs/AffordanceNet_An_End-to-End_Deep_Learning_Approach_for_Object_Affordance_Detection.pug
  include pugs/Knowledge_Concentration_Learning_100K_Object_Classifiers_in_a_Single_CNN.pug
  include pugs/We_Are_Humor_Beings_Understanding_and_Prediction_Visual_Humor.pug
  include pugs/Vehicle_Three-Dimensional_Pose_and_Shape_Estimation_from_Multiple_Monocular_Vision.pug
  include pugs/Joint_Event_Detection_and_Description_in_Continuous_Video_Streams.pug
  include pugs/Neural_Aesthetic_Image_Reviewer.pug
  include pugs/Interpreting_CNN_Knowledge_via_an_Explanatory_Graph.pug
  include pugs/HemaApp_Noninvasive_Blood_Screening_of_Hemoglobin_using_Smartphone_Cameras.pug
  include pugs/End-to-end_Driving_via_Conditional_Imitation_Learning.pug
  include pugs/Open3D_A_Modern_Library_for_3D_Data_Processing.pug
  include pugs/Hierarchical_Variational_Autoencoders_for_Music.pug
  include pugs/Generating_the_Future_with_Adversarial_Transformers.pug
  include pugs/DensePose_Dense_Human_Pose_Estimation_In_The_Wild.pug
  include pugs/What_will_Happen_Next_Forecasting_Player_Moves_in_Sports_Videos.pug
  include pugs/Visual_Forecasting_by_Imitating_Dynamics_in_Natural_Sequences.pug
  include pugs/A_Domain_Based_Approach_to_Social_Relation_Recognition.pug
  include pugs/Forecasting_Interactive_Dynamics_of_Pedestrians_with_Fictitious_Play.pug
  include pugs/DeepNav_Learning_to_Navigate_Large_Cities.pug
  include pugs/Forecasting_Human_Dynamics_from_Static_Images.pug
  include pugs/Toward_Geometric_Deep_SLAM.pug
  include pugs/Pedestrian_Travel_Time_Estimation_in_Crowded_Scenes.pug
  include pugs/Emotional_Filters_Automatic_Image_Transformation_for_Inducing_Affect.pug
  include pugs/A_Mixed_Bag_of_Emotions_Model_Predict_and_Transfer_Emotion_Distributions_Supplementary_Material.pug
  include pugs/Predicting_Actions_from_Static_Scenes.pug
  include pugs/Predicting_Object_Dynamics_in_Scenes.pug
  include pugs/Event_Detection_using_Multi-Level_Relevance_Labels_and_Multiple_Features.pug
  include pugs/Some_like_it_hot_-_visual_guidance_for_preference_prediction.pug
  include pugs/Understanding_Pedestrian_Behaviors_from_Stationary_Crowd_Groups.pug
  include pugs/Let_there_be_Color_Joint_End-to-end_Learning_of_Global_and_Loacal_Image_Priors_for_Automatic_Image_Colorization_with_Simultaneous_Classification.pug
  include pugs/Learning_to_Simplify_Fully_Convolutional_Networks_for_Rough_Sketch_Cleanup.pug
  include pugs/Semantic_Shape_Editing_Using_Deformation_Handles.pug
  include pugs/AttribIt_Content_Creation_with_Semantic_Attributes.pug
  include pugs/Scene_Graph_Generation_by_Iterative_Message_Passing.pug
  include pugs/The_shape_of_art_history_in_the_eyes_of_the_machine.pug
  include pugs/Unsupervised_Learning_of_Depth_and_Ego-Motion_from_Video.pug
  include pugs/CAN_Creative_Adversarial_Networks_Generating_Art_by_Learning_About_Styles_and_Deviating_from_Style_Norms.pug
  include pugs/Personalized_Image_Aesthetics.pug
