+slide
  .title A Domain Based Approach to Social Relation Recognition
  .info
    .authors Qianru Sun et al.
    .conference CVPR, 2017.
  .item1
    h1 概要
    .text.
      画像中に写っている人々の関係を推測する研究。社会心理学に基づいた16の関係(親子、友人など)を識別する。それぞれの人物から抽出された特徴を入力とするネットワークにより判定する。

  .item2
    img(src=figpath+"180306relation.png")
  .item3
    h1 新規性・結果
    .text
      ul
        li 社会心理学に基づいた理論をコンピュータビジョンに導入した
        li 画像に関係性などのラベルを付けることで、より広い用途で用いることができるデータベースを提案
        li 社会心理学に基づき、セマンティックなアトリビュートを収集した
  .item4
    h1 自由記述欄
    .text
      ul
        li 社会学系の理論をCVに持ってくるのは面白そう
  .slide_index
    | #{getSlideIndex()}
  .slide_editor Shintaro Yamamoto
