+slide
section#ID_AttribIt_Content_Creation_with_Semantic_Attributes
  .paper-abstract
    .title AttribIt: Content Creation with Semantic Attributes
    .info
      .authors Siddhartha Chaudhuri et al.
      .conference UIST, 2013.
    .item1
      h1 概要
      .text.
        dangerousやscaryのように、言葉によって表現される特徴に基づきデザインを編集する手法。クラウドソーシングにより特徴とデザインの関係を調査し、特徴に基づいてデザインを編集するインターフェースを構築した。
  
    .item2
      img(src=figpath+"180318attriblt.png")
    .item3
      h1 新規性・結果
      .text
        ul
          li 3次元モデリングとwebデザインの2つの事例に対して適用した
          li 編集結果が、目的の特徴を保持しているか、もっともらしいかの2つの観点においてユーザースタディにより提案手法の方が高い評価を得ることができた
    .item4
      h1 自由記述欄
      .text
        ul
          li: a(href="http://gfx.cs.princeton.edu/pubs/Chaudhuri_2013_ACC/index.php" target="blank") 論文URL
    .slide_index
      | #{getSlideIndex()}
    .slide_editor Shintaro Yamamoto

