+slide
  .title Cartooning for Enhanced Privacy in Lifelogging and Streaming Videos
  .info
    .authors Eman T. Hassan, Rakibul Hasan, Patrick Shaffer, David Crandall, Apu Kapadia
    .conference CVPR 2017 Workshop on CV-COPS
  .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka

  .item1
    .text
      h1 概要
      p 一人称視点カメラによるライフログをアニメ調に変換することでプライバシー性を高める研究。セグメンテーションとブレンディングのみならず、エッジ強調、さらには物体（e.g. テレビ、本）をクリップアートに置き換えることでより理解しやすくプライバシーを保護するアニメ調に変換。
  .item2
    .text
      p
        img(src=`${figpath}180309CartooningFPV.png`,alt="180309CartooningFPV")
  .item3
    .text
      h1 新規性・結果
      p AMTによりユーザスタディも行なった結果、プライバシーを保ちつつ視覚的にも理解しやすい（e.g. 行動認識）動画ストリーミングを流すことに成功した。
  .item4
    .text
      h1 リンク集
      ul
        li
          a(href="http://openaccess.thecvf.com/content_cvpr_2017_workshops/w16/papers/Kapadia_Cartooning_for_Enhanced_CVPR_2017_paper.pdf") 論文
        li
          a(href="http://homes.soic.indiana.edu/emhassan/pages/Projects.html#cvcops") Project
  .slide_index #{getSlideIndex()}
  .timestamp 2018.3.9 13:45:20
