+slide
section#Characterizing_the_Design_Space_of_Rendered_Robot_Faces
  .paper-abstract
    .title Characterizing the Design Space of Rendered Robot Faces
    .info
      .authors Alisa Kalegina, Grace Schroeder, Aidan Allchin, Keara Berlin, Maya Cakmak
      .conference HRI’18
      .paper_id pp. 96-104
    .slide_editor Ryota Suzuki
  
    .item1
      .text
        h1 概要
        p “レンダリングされた”ロボット顔のデザインを仕分け．
          |デザイン空間を定義し，分布を調査する．
          |157のロボット顔を76属性のデザイン空間に落とす．
          |文脈に応じてどのようなリアルさ・具体性が好まれるのか，
          |また顔の重要なパーツの有無に対する，適したロボットの作業について論じる．
    .item2
      .text
        p
          img(src=`${figpath}Characterizing_the_Design_Space_of_Rendered_Robot_Faces_Figure1.png`,alt="Figure1")
    .item3
      .text
        h1 評価点
        p いろんなロボット顔のサーベイが大変なのは言うまでもないが，
          |ちゃんとシステマチックに論じているところが偉い．
          |まさしくワシントン大的貢献．
        p BestPaper Nominee.
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://dl.acm.org/citation.cfm?id=3171286") ACM Library
    .slide_index #{getSlideIndex()}
    .timestamp 2018.3.9 10:47:04
