+slide
section#Common_Subspace_for_Model_and_SimilarityPhrase_Learning_for_Caption_Generation_from_Images
  .paper-abstract
    .title Common Subspace for Model and Similarity:Phrase Learning for Caption Generation from Images
    .info
      .authors Yoshitaka Ushiku, et al.
      .conference ICCV 2017
    .slide_editor Munetaka Minoguchi
  
    .item1
      .text
        h1 概要
        p Common Subspace for Model and Similarity (CoSMoS)によるフレーズの学習方法の提案。
        p 1.同一フレーズに関連付けられたすべての特徴ベクトルを近接するようにマッピング
        p 2.各フレーズの分類子を学習
        p 3.フレーズ間でトレーニングサンプルが共有される部分空間を得る
    .item2
      .text
        p
          img(src=`${figpath}180309CoSMoS.jpg`)
    .item3
      .text
        h1 新規性・手法
        p “単語”ではなく、オブジェクト、属性、イベント、およびそれらの関係を表現する“フレーズ”に着目している。フレーズ数はさまざまな単語の組み合わせであるため、シングルワードの数よりはるかに多くなる。よって、フレーズはトレーニングサンプルが少なく、正確な推定が困難。そこで、モデルと類似性の共通部分空間を学習する。
    .item4
      .text
        h1 結果・リンク集
        p ウェブのデータセットを増やすことで精度が向上する見込み
        p 今後は、CNNとRNNによるキャプション生成にもCoSMoSを組み込む予定
        ul
          li
            a(href="http://openaccess.thecvf.com/content_iccv_2015/papers/Ushiku_Common_Subspace_for_ICCV_2015_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    
