+slide
  .title Communicating Robot Motion Intent with Augmented Reality
  .info
    .authors Michael Walker, Hooman Hedayati, Jennifer Lee and Daniel Szafir
    .conference HRI’18
    .paper_id pp. 316-324
  .slide_editor Ryota Suzuki

  .item1
    .text
      h1 概要
      p ロボットの移動意思をARで伝える方法について，
        |図の4種類の方法を実装して比較してみた．
      p ロボットの身体の方向のみに関連した情報提示がベースラインよりも
        |作業効率を顕著に向上させた．
        |また，ロボットとの共同作業感と動きのわかりやすさの間にトレードオフが発生することも
        |分かった．
  .item2
    .text
      p
        img(src=`${figpath}Communicating_Robot_Motion_Intent_with_Augmented_Reality_Figure1.png`,alt="Figure1")
      p (a) 経路のチェックポイントを見せる
        |(b) 経路を矢印で書く
        |(c) ARエージェントが移動方向を見てる
        |(d) ユーザに対するロボットの位置を示唆する
  .item3
    .text
      h1 評価点
      p 移動方向の表示に関する研究は継続的に行われているが，
        |AR上での表示における調査をちゃんと（網羅的に）行っていることと，
        |結果が面白い．
      p BestPaper Nominee.
  .item4
    .text
      h1 リンク集
      ul
        li
          a(href="https://dl.acm.org/citation.cfm?id=3171253") ACM Library
  .slide_index #{getSlideIndex()}
  .timestamp 2018.3.9 16:01:10
