+slide
  .title CSGNet: Neural Shape Parser for Constructive Solid Geometry
  .info
    .authors G. Sharma et al.,
    .conference arXiv
    .paper_id 1712.08290
  .item1
    h1 概要
    .text.
      ピクセルボクセルなどのLow-levelな表現ではなく，
      Illustratorなどで使うような円，三角形といった高次の表現でのParsing．
      Constructive Solid Geometry (CSG) というモデリングをベースを利用．
      入力された画像や3次元形状をCSG Engineで扱うプログラムに分解する手法を提案．
      CNNでEncodingした後にRNNでプログラムにDecoding．
      CSG Engineで作成した人工的データを用いた教師あり学習と，
      入力と，DecodeしたプログラムをEngineで出力したものとの差分を元に計算する報酬ベースの教科学習でモデルを学習．
      両学習手法の組み合わせでより高い精度を実現可能なことを示した．

  .item2
    img(src=figpath+"180322_parser.png")
  .item3
    h1 新規性・結果
    .text
      ul
        li 高速かつ効果的なCSGプログラムの推定手法を提案
        li 強化学習によりプログラムの教師情報なしの学習を実現
  .item4
    h1 自由記述欄
    .text
      ul
        li CVPR2018に採択されている
        li さすがにこういう新しくて面白い問題設定だと比較手法がNearest Neighborでも文句は言われない模様
      
  .slide_index
    | #{getSlideIndex()}
  .slide_editor Kensho Hara
