+slide
section#Deep_Reinforcement_Learning_of_Abstract_Reasoning_from_Demonstrations
  .paper-abstract
    .title Deep Reinforcement Learning of Abstract Reasoning from Demonstrations
    .info
      .authors Madison Clark-Turner and Momotaz Begum
      .conference HRI'18
      .paper_id pp. 160-168
    .slide_editor Ryota Suzuki
  
    .item1
      .text
        h1 概要
        p 深層強化学習により，人対人インタラクションの高度なダイナミクスにおける一般化ルールの抽出を行う枠組みを提案．
          |音声およびカメラ画像の疎な時系列を入力とし，2エージェント間の動きの介入セッションを規定する規則のセットの学習を行う．
    .item2
      .text
        p
          img(src=`${figpath}Deep_Reinforcement_Learning_of_Abstract_Reasoning_from_Demonstrations_Figure1.png`,alt="Figure1")
    .item3
      .text
        h1 評価点
        p インタラクションのルール付けが深層学習でできるというのが感慨深い．
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://dl.acm.org/citation.cfm?id=3171289") ACM library
    .slide_index #{getSlideIndex()}
    .timestamp 2018.3.27 12:18:23
