+slide
  .title Deep Affordance-grounded Sensorimotor Object Recognition
  .info
    .authors S. Thermos et al.,
    .conference CVPR 2017
  .item1
    h1 概要
    .text.
      物体のアピアランス (sensory) と人と物体のインタラクション (motor) の情報を組み合わせて
      物体認識するSensorimotor Object Recognitionにおいて，Deep Learningを導入した手法を提案．
      物体のアピアランスを捉えるストリーム (Colorized Object Depth Map) と，
      インタラクションを捉えるストリーム (Colorized Hand Depth Map & Hand 3D Flow Magnitude) を組み合わせて利用．
      様々なFusionの方法を比較した結果，図の(d)に対応するMulti-level Slow Fusionが最高精度を達成．
      新たなデータセットの提供もしている他，
      提案アーキテクチャは神経科学などの知見と合わせて議論されている．

  .item2
    img(src=figpath+"180319_deepaffordance.png")
  .item3
    h1 新規性・結果
    .text
      ul
        li Sensorimotor Object RecognitionにCNNを導入
        li RGB-D物体認識の新しい大規模データセットを提供
  .item4
    h1 自由記述欄
    .text
      ul
        li 普通にDeepでやりましたという論文にも見えてしまうけど論文の書き方が上手いのか？
      
  .slide_index
    | #{getSlideIndex()}
  .slide_editor Kensho Hara
