+slide
  .title Devices and Data and Agents, Oh My: How Smart Home Abstractions Prime End-User Mental Models
  .info
    .authors M. Clark et al.,
    .conference Ubicomp 2017
  .item1
    h1 概要
    .text.
      Smart Homeについてユーザがどのようなものを求めているかのデータを集めて提供．
      Capabilities (Data or Device) と Personification (Unmediated or Agent-mediagetd) の2軸で
      4通りのAbstractionを定義．
      扱えるデバイスを提示するか提供されるデータを提示するかの軸と，
      SiriのようなAIが介するかどうかの軸．
      4つのうちの1つをユーザに提示して，どのようなアプリケーションが欲しいかを記述してもらう．
      そのデータからユーザが何を求めているかを分析．

  .item2
    img(src=figpath+"180317_smarthome.png")
  .item3
    h1 新規性・結果
    .text
      ul
        li Smart Home (IoT) における4つのAbstractionを提案
        li 提示するAbstractionによってユーザの求めるものは大きく変化することを実証
  .item4
    h1 自由記述欄
    .text
      ul
        li Session 3: Software Enginnering
      
  .slide_index
    | #{getSlideIndex()}
  .slide_editor Kensho Hara
