+slide
section#ID_Expressing_Robot_Incapability
  .paper-abstract
    .title Expressing Robot Incapability
    .info
      .authors Minae Kwon, Sandy H. Huang and Anca D. Dragan
      .conference HRI’18
      .paper_id pp. 87-95
    .slide_editor Ryota Suzuki
  
    .item1
      .text
        h1 概要
        p ロボットのできないことを伝える．
          |何をやろうとしてダメで，なぜダメなのかを伝える．
          |動きの軌跡の最適化問題とみなし，成功パターンと失敗パターンの
          |類似性と差の大きさの評価を提案．
    .item2
      .text
        p
          img(src=`${figpath}Expressing_Robot_Incapability_Figure1.png`,alt="Figure1")
    .item3
      .text
        h1 評価点
        p 運動学を解くという割と確立された（けどちゃんと検討するのは面倒な）手法的な面を水平思考して，
          |ロボットの失敗談を伝えるという面白さにつなげている．
        p BestPaper Nominee.
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://dl.acm.org/citation.cfm?id=3171276") ACM Library
    .slide_index #{getSlideIndex()}
    .timestamp 2018.3.8 20:32:44

