+slide
section#ID_Face2Text_Collecting_an_Annotated_Image_Description_Corpus_for_the_Generation_of_Rich_Face_Descriptions
  .paper-abstract
    .title Face2Text: Collecting an Annotated Image Description Corpus for the Generation of Rich Face Descriptions
    .info
      .authors Albert Gatt, et al. 
      .conference LREC 2018
    .slide_editor Munetaka Minoguchi
  
    .item1
      .text
        h1 概要
        p 顔の記述に特化し、より具体的に記載できるイメージキャプショニングの提案。シーン記述のようなオブジェクトやその関係性などではなく、画像から得られた属性に依存した記述となる。データはクラウドソーシングを使ってアノテーションを収集し(The Face2Text dataset)、アノテーションの解析まで行う。
    .item2
      .text
        p
          img(src=`${figpath}180330TF2TD.jpg`)
    .item3
      .text
        h1 新規性
        p “顔についてのキャプション”という新しいテーマのデータセットを提案、およびその解析。
    .item4
      .text
        h1 結果・リンク集
        p The Face2Text datasetは、感情的または推論的な属性を含んだアノテーションを含む。
        ul
          li
            a(href="https://arxiv.org/pdf/1803.03827.pdf") 論文
    .slide_index #{getSlideIndex()}
    

