+slide
section#ID_Fashion_Forward_Forecasting_Visual_Style_in_Fashion
  .paper-abstract
    .title Fashion Forward: Forecasting Visual Style in Fashion
    .info
      .authors Ziad Al-Halah et al.
      .conference ICCV 2017
    .slide_editor: a(href="https://sites.google.com/site/shinatoyamamoto/" target="blank") ShintaroYamamoto
  
    .item1
      .text
        h1 概要
        p ファッションの流行遷移をCV的アプローチによって予測する研究。
          |オンラインショッピングなどにおいてついているタグは不正確なことが多い。
          |そこで、画像からファッション特徴を抽出することでトレンドを予測する。
          |CNNによって画像からファッション特徴を抽出したのち、NMFを用いてスタイルに分解する。
          |最後にファッションの売り上げデータを用いて近い将来ファッションの人気がどのように遷移するかを予測する。 
    .item2
      .text
        p
          img(src=`${figpath}180401.png`,alt="Item3Image")
    .item3
      .text

