+slide
  .title Fribo: A Social Networking Robot for Increasing Social Connectedness through Sharing Daily Home Activities from Living Noise Data
  .info
    .authors Kwangmin Jeong, Jihyun Sung, Hae-Sung Lee, Aram Kim, Hyemi Kim, Chanmi Park, Yuin Jeong, JeeHang Lee and Jinwoo Kim
    .conference HRI’18
    .paper_id pp. 114-122
  .slide_editor Ryota Suzuki

  .item1
    .text
      h1 概要
      p 生活雑音で活動量を測り，活動量を共有することのできるソーシャルネットワークなロボットを提案．
        |生活雑音を取るだけならプライバシーに配慮できて良いし，多対多でもいい感じに働く．
        |友人間ソーシャルコミュニケーションの実験してみて，プライバシー侵害を感じずに繋がってる感が出ることを確認した．
        |ついでにちゃんとしたものも作った．
  .item2
    .text
      p
        img(src=`${figpath}Fribo_A_Social_Networking_Robot_for_Increasing_Social_Connectedness_through_Sharing_Daily_Home_Activities_from_Living_Noise_Data_Figure1.png`,alt="Figure1")
  .item3
    .text
      h1 評価点
      p うまくやってる感．
        |これってロボットインタラクションなのかな？
      p BestPaper Nominee.
  .item4
    .text
      h1 リンク集
      ul
        li
          a(href="https://dl.acm.org/citation.cfm?id=3171254") ACM Library
  .slide_index #{getSlideIndex()}
  .timestamp 2018.3.9 11:59:39
