+slide
  .title Grabity: A Wearable Haptic Interface for Simulating Weight and Grasping in Virtual Reality
  .info
    .authors Inrak Choi, Heather Culbertson, Mark R. Miller, Alex Olwal, and Sean Follmer
    .conference UIST2017
    .paper_id 10.1145/3126594.3126599
  .slide_editor Kenichiro Wani

  .item1
    .text
      h1 概要
      p VRアプリケーションのためのハプティックデバイスは把持された仮想オブジェクトの剛性及び重量の感覚を正確に提示することが困難である。そこでVR空間上のオブジェクトをつかむためのグリップ力及び重さをシミュレーションするために設計されたGrabityを使った仮想オブジェクトの把持時の力覚フィードバックを提示する手法を提案した。
  .item2
    .text
      p
        img(src=`${figpath}Grabity_A_Wearable_Haptic_Interface_for_Simulating_Weight_and_Grasping_in_Virtual_Reality.png`,alt="Image")
  .item3
    .text
      h1 新規性・結果
      p *非対称な振動の振幅を操作することによる仮想オブジェクトの剛性と重さを提示する
  .item4
    .text
      h1 リンク集
      ul
        li
          a(href="http://delivery.acm.org/10.1145/3130000/3126599/p119-choi.pdf?ip=133.20.188.102&id=3126599&acc=OA&key=D2341B890AD12BFE%2E5352D5D97391CEE0%2E4D4702B0C3E38B35%2E5945DC2EABF3343C&__acm__=1523440889_aa85c79f28b349cd73c2d5c2f516a87e") 論文
  .slide_index #{getSlideIndex()}
  .timestamp 2018.4.12 17:14:22
