+slide
section#HMDwo_mochiita_3jigen_gesture_sousani_yoru_botsunyuugata_tentai_kyouzaino_kaihatsu
  .paper-abstract
    .title HMDを用いた3次元ジェスチャ操作による没入型天体教材の開発
    .info
      .authors 田尻圭佑, 瀬戸崎典夫
      .conference 日本教育工学会
    .slide_editor Kenichiro Wani
    .item1
      .text
        p 生徒にとって、相対的な考えを必要とする星座の日周運動や年周運動を理解することが困難である。
        p 仮想環境内における教員の介入による指導が可能な、没入型天体教材の開発。
        p 3次元ジェスチャ装置によって学習者及び講師の手の動きを認識し，仮想空間に手のCGモデルを表示する。
        p 学習者はHMDを装着(教員は3次元ジェスチャ装置を用いて仮想空間内で手のジェスチャしながら説明)。
    .item2
      .text
        p
          img(src=`${figpath}180330tentai_wani.png`)
    .item3
      .text
        h1 新規性
        p 生徒に星座を教えるのに仮想現実(Virtual Reality：以下VR)。
        p 3次元ジェスチャ装置(Leap Motion)を用いて教師の手の動きを認識し、仮想空間に手のCGモデルを表示する。
    .item4
      .text
        h1 結果
        p 実験後にアンケートにより回答を得たところ、肯定的な回答では「たのしい・おもしろい」、「没入感があって星の動き・位置が分かりやすい」となった。否定的な回答では「目が痛い・疲れる」、「酔った」、「Leap Motionの位置がわかりずらい」となった。
        ul
          li
            a(href="https://www.jstage.jst.go.jp/article/jjet/40/Suppl./40_S40103/_pdf") 論文
    .slide_index #{getSlideIndex()}
