+slide
  .title Improving Collocated Robot Teleoperation with Augmented Reality
  .info
    .authors Hooman Hedayati, Michael Walker and Daniel Szafir
    .conference HRI’18
    .paper_id pp. 78-86
  .slide_editor Ryota Suzuki

  .item1
    .text
      h1 概要
      p 操作者と遠隔ロボットが部屋レイアウトを共有する空間において，ロボットの遠隔操作をARで支援する方法論についてプロトタイピングし，議論．飛行ドローンの動きを簡単にわかるようにするには？
        |図(a)視体積の表示，図(b)ロボットの吹き出し的にカメラ映像表示，図(c)端にカメラ映像を固定表示．
        |結果，3方式はカメラ映像をただ見ただけよりも遠隔操作効率が顕著に向上した．
        |また，カメラ映像を見せる方式(b)，(c)はカメラ映像とロボットの注視が分散してしまい，比較的遠隔操作効率が悪かった．
  .item2
    .text
      p
        img(src=`${figpath}Improving_Collocated_Robot_Teleoperation_with_Augmented_Reality_Figure1.png`,alt="Figure1")
      p
        img(src=`${figpath}Improving_Collocated_Robot_Teleoperation_with_Augmented_Reality_Figure2.png`,alt="Figure2")
  .item3
    .text
      h1 評価点
      p 特にハッとする面白さは感じないが，
        |各方面がなんとなくやっていたことについて，改めて調査に取り組み，
        |サーベイと実験をちゃんとやって，定量的・定性的評価をちゃんとやった点が評価されたか．
        |実験デザインも特に面白く感じないが，当たり前のことをやってちゃんと結果が出るようなデザインをしている．
      p BestPaper Nominee.
  .item4
    .text
      h1 リンク集
      ul
        li
          a(href="https://dl.acm.org/citation.cfm?id=3171251") ACM Library
  .slide_index #{getSlideIndex()}
  .timestamp 2018.3.8 19:13:34
