+slide
section#ID_Learning_to_Simplify_Fully_Convolutional_Networks_for_Rough_Sketch_Cleanup
  .paper-abstract
    .title Learning to Simplify: Fully Convolutional Networks for Rough Sketch Cleanup
    .info
      .authors Edgar Simo-Serra et al.
      .conference ACM SIGGRAPH, 2017.
    .item1
      h1 概要
      .text.
        ラフ画の欠損部分を補完して線画にする手法を提案。全層が畳み込み層によって構築されているネットワークを構築し、任意の解像度の入力から線画への変換を可能とする。学習にはラフ画と線画のペアを使用し，重み付きの一致土をロスとして学習をする．学習の際には，データセットの一部をクロップする，トーンを変える，ノイズを乗せるなどによって学習データの数を増やしている。
  
    .item2
      img(src=figpath+"180318sketch.png")
    .item3
      h1 新規性・結果
      .text
        ul
          li 従来手法とは異なり、ユーザーの介入を必要としない全自動の手法を提案した
          li データセットとして68枚の線画とラフ画のペアを作成。その際，精度を向上するために提案ネットワークのようにラフ画→線画ではなく線画→ラフ画という順で作成。
          li ユーザースタディによって既存手法と比べて精度を向上したことを確認
    .item4
      h1 自由記述欄
      .text
        ul
          li: a(href="http://hi.cs.waseda.ac.jp/~iizuka/projects/inpainting/ja/" target="blank") プロジェクトページ
    .slide_index
      | #{getSlideIndex()}
    .slide_editor Shintaro Yamamoto

