+slide
section#ID_Learning_Features_by_Watching_Objects_Move
  .paper-abstract
    .title Learning Features by Watching Objects Move 
    .info
      .authors Deepak Pathak, Ross Girshick, Piotr Dollar, Trevor Darrell, and Bharath Hariharan
      .conference CVPR 2017
    .slide_editor Tomoyuki Suzuki
  
    .item1
      .text
        h1 概要
        p 動き特徴を利用した前景（物体）領域情報は汎用的な表現学習に役立つという考えから、NLCなどのhand-craftな手法を組み合わせて擬似的な動体領域を作成し、それを教師として領域分割をCNNに解かせることで表現特徴を得る。物体検出、物体・行動認識、意味領域分割の問題設定において評価を行った。表現学習のデータとしてYFCCを用いている。
        
    .item2
      .text
        p
          img(src=`${figpath}watching_object.png`, alt="180302AffordanceNet")
          img(src=`${figpath}watching_object3.png`, alt="180302AffordanceNet")
          img(src=`${figpath}watching_object2.png`, alt="180302AffordanceNet")
          
    .item3
      .text
        h1 新規性・結果
        p Pascal VOCの物体検出において教師なし表現学習でSoTA。特にfine-tuningに利用するデータが少量の場合と多くの層のパラメータを固定してfine-tuinigした場合で大きな効果を発揮した。しかし、物体・行動認識、意味領域分割においては従来手法より劣っている。
        
    .item4
      .text
        h1 自由記述欄
        p 実験は丁寧に行われてる印象。表現学習の設定自体が物体検出を意識しているようにも感じられ（単一物体が写っている画像を優先的に取り出している？など）、物体検出でうまくいくのは当たり前な気もした。
        |しかし、意味領域分割で精度が出ない原因がよくわからなかった（物体部分はできているが背景の分割ができていない？）。
        ul
          li
            a(href="https://arxiv.org/abs/1612.06370") 論文
    .slide_index #{getSlideIndex()}
    

