+slide
  .title Let there be Color!: Joint End-to-end Learning of Global and Loacal Image Priors for Automatic Image Colorization with Simultaneous Classification
  .info
    .authors Satoshi Iizuka et al.
    .conference SIGGRAPH, 2016.
  .item1
    h1 概要
    .text.
      白黒画像からカラー画像を推定する手法。従来手法とは異なりend-to-endのネットワークを構築した。色付けする際，シーンの時間帯などの情報を含む大域的な特徴と物体などの情報を含んだ局所的な特徴の2つを組み合わせるこ。これにより，夜のシーンにもかかわらず画像の一部が明るいといったことを防ぐ。

  .item2
    img(src=figpath+"180312colorization.png")
  .item3
    h1 新規性・結果
    .text
      ul
        li 局所特徴と大域特徴を組み合わせることにより，画像全体が自然になるようなネットワークを構築した
        li 過去に描かれた白黒画像に色付けすることも可能
        li ベースラインでは70%前後であった自然さが、90%以上に向上した
  .item4
    h1 自由記述欄
    .text
      ul
        li: a(href="http://hi.cs.waseda.ac.jp/~iizuka/projects/colorization/data/colorization_sig2016.pdf" target="blank") 論文URL
  .slide_index
    | #{getSlideIndex()}
  .slide_editor Shintaro Yamamoto
