+slide
section#ID_Needs_and_Expectations_for_Fully_Autonomous_Vehicle_Interfaces
  .paper-abstract
    .title Needs and Expectations for Fully Autonomous Vehicle Interfaces
    .info
      .authors T. Amanatidis, P. Langdon, P. J. Clarkson
      .conference HRI'18 LBR
      .paper_id pp. 51-52
    .slide_editor Ryota Suzuki
  
    .item1
      .text
        h1 概要
        p 完全自動走行車両のインタフェースに対する要望・期待を調査した．
          |運転できる人，（障害など身体的に）運転できない人に，グーグルの自動走行車両プロトタイプのビデオ映像を見せ，
          |聞き取り調査を行った．
          |身体的に運転できない人の利用について様子を見るつもりだったが，
          |結果，個人所有か共有かでフィードバックしてほしい情報が異なることが分かった（右表）．
          |イギリス・ケンブリッジ大学の研究．
    .item2
      .text
        p
          img(src=`${figpath}Needs_and_Expectations_for_Fully_Autonomous_Vehicle_Interfaces_Figure1.png`,alt="Figure1")
    .item3
      .text
        h1 他わかったこと
        ul
          li 車両への指示は会話の邪魔なので声でやりたくない
          li テーブルほしい，地図ほしい
          li エンタテインメント，作業機能は個人所有にしたい．備え付けは好まれない
          li 車両との，カレンダー以外の個人的な情報共有に寛容になる
    .item4
      .text
        h1 リンク集・コメント
        ul
          li
            a(href="https://dl.acm.org/citation.cfm?id=3177054") ACM library
          li
            a(href="http://link.com/link2/") 見せた映像
        p LBRならではの調査．
          |UXの知見の共有は，自動走行車両の倫理的議論にも関わると思う．
    .slide_index #{getSlideIndex()}
    .timestamp 2018.3.30 13:25:21

