+slide
  .title Neural Baby Talk
  .info
    .authors Jiasen Lu,Jianwei Yang,Dhruv Batra and Devi Parikh
    .conference CVPR2018
    .paper_id arXiv:1803.09845v1
  .slide_editor Takumu Ikeya

  .item1
    .text
      h1 概要
      p 画像から認識された物体から自然言語を生成することが出来るイメージキャプショニングのための新たなフレームワークを作った．
        |画像領域と明らかに関係する言葉と枠を持つテンプレを生成した後,画像領域と一致する物体を認識することで枠に言葉をはめ込む．
  .item2
    .text
      p
       img(src=`${figpath}Neural_Baby_Talk.png`,alt="手法概要")
  .item3
    .text
      h1 新規性
      ul
        li 文章の生成と同時に画像内に局所的に存在する物体に対して視覚的に関係するものをキャプショニングする部分が新しい
        li COCOとFlickr30kデータセットを用いた実験で標準的なイメージキャプショニングよりも高精度であった
  .item4
    .text
      h1 リンク集
      ul
        li
          a(href="https://arxiv.org/pdf/1803.09845.pdf") link1
  .slide_index #{getSlideIndex()}
  .timestamp 2018.4.12 20:53:14
