+slide
  .title Open3D: A Modern Library for 3D Data Processing
  .info
    .authors Qian-Yi Zhou et al.,
    .conference arXiv
    .paper_id 1801.09847
  .item1
    h1 概要
    .text
      |3Dデータを取り扱い、迅速な開発を可能にする
      a(href="http://www.open3d.org/" target="blank") Open3D
      |を提供する。Open3DはC++/Pythonをサポート、並列化にも対応しており、クラウドで開発することが可能。
      |点群読み込み-ダウンサンプリング-法線の計算、シーン再構築、3次元可視化などの処理が含まれている。
  .item2
    img(src=figpath+"180205open3d.png")
  .item3
    h1 新規性・結果
    .text
      |3次元画像処理のコミュニティにて有益なオープンソースを提供し、その
      a(href="https://github.com/IntelVCL/Open3D" target="blank") コード
      |も提供されている。
  .item4
    h1 コメント・リンク集
    .text
      ul
        li: a(href="http://www.open3d.org/" target="blank") Project page
        li: a(href="https://arxiv.org/pdf/1801.09847.pdf" target="blank") [論文] Open3D: A Modern Library for 3D Data Processing
        li: a(href="https://github.com/IntelVCL/Open3D" target="blank") Code
  .slide_index
    | #{getSlideIndex()}
  .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka
