+slide
section#ID_Pedestrian_Travel_Time_Estimation_in_Crowded_Scenes
  .paper-abstract
    .title Pedestrian Travel Time Estimation in Crowded Scenes
    .info
      .authors Yi et al.
      .conference ICCV, 2015.
    .item1
      h1 概要
      .text.
        画像中に写っている群衆が、目的地にたどり着くまでの時間を推測する手法。目的地まで歩行するにあたり、他の歩行者の流れや立ち止まっている人の存在によって歩行ルートは変化する。このように、目的地まで最短距離で向かうことができず人によってルートが変化する状況における歩行時間の推定を行う。
  
    .item2
      img(src=figpath+"180307pedestrian.png")
    .item3
      h1 新規性・結果
      .text
        ul
          li 目的地までの所要時間を統計的に推定する手法を提案
          li 人の流れの妨げになっている場所や異常行動の検出が可能に
          li 個人の移動時間に着目している既存研究と比べ、大衆に着目することで精度が向上
    .item4
      h1 自由記述欄
      .text
        ul
          li: a(href="https://www.cv-foundation.org/openaccess/content_iccv_2015/papers/Yi_Pedestrian_Travel_Time_ICCV_2015_paper.pdf" target="blank") 論文URL
    .slide_index
      | #{getSlideIndex()}
    .slide_editor Shintaro Yamamoto
    

