+slide
section#Regularized_Kelvinlets_Sculpting_Brushes_based_on_Fundamental_Solutions_of_Elasticity
  .paper-abstract
    .title Regularized Kelvinlets: Sculpting Brushes based on Fundamental Solutions of Elasticity
    .info
      .authors Fernando de Goes, Doug L. James
      .conference SIGGRAPH 2017
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka
  
    .item1
      .text
        h1 概要
        p より自然な物理的な拘束を保持しつつ弾力によるグラフィックモデルの変形を実現した。キャラクターを擬似的につかむ、ねじる、はさむなどの影響を弾性的に表現した。
    .item2
      .text
        p
          img(src=`${figpath}180330Kelvinlets.png`,alt="180330Kelvinlets")
    .item3
      .text
        h1 新規性・結果
        p グラッフィクスに弾力を持たせるような表現を実現した。詳細な結果はProject Pageの動画を参照。
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="www") 論文
          li
            a(href="http://graphics.pixar.com/library/Kelvinlets/index.html") Project
    .slide_index #{getSlideIndex()}
    .timestamp 2018.3.30 12:21:25
