+slide
section#Rico_A_Mobile_App_Dataset_for_Building_Data-Driven_Design_Applications
  .paper-abstract
    .title Rico: A Mobile App Dataset for Building Data-Driven Design Applications
    .info
      .authors B. Deka, Z. Huang, C. Franzen, J. Hibschman, D. Afergan, Y. Li, J. Nichols, R. Kumar
      .conference UIST2017
      .paper_id pp. 845-854
    .slide_editor Ryota Suzuki
  
    .item1
      .text
        h1 概要
        p 5つのデータ駆動アプリケーション
          |（デザイン検索，UIレイアウト生成，UIコード生成，UIモデリング，ユーザ知覚推測）
          |での使用を目的とした，
          |モバイルアプリケーションのデザインの大規模データセットを作った．
          |9,700のアンドロイドアプリ，27カテゴリ．
        p データセットの作成に当たり，クラウドソーシングと自動生成を組み合わせたシステムを作った．
          |アンドロイドアプリを実行したときにデザインとインタラクションを取ってくる．
        p UIレイアウトの類似性を評価するオートエンコーダを学習させてみて，デモンストレーションする．
    .item2
      .text
        p
          img(src=`${figpath}Rico_A_Mobile_App_Dataset_for_Building_Data-Driven_Design_Applications_Figure1.png`,alt="Figure1")
        p クラウドワーカーのインタフェース
    .item3
      .text
        h1 評価点
        p あるUIがあった時に，どのようにUIが使われるかのモデリングを行う分野があるが，
          |そこにもビックデータを効率的に収集したい要請がある．
          |UIデザインのような，少し抽象的なデータ集めの枠組みの作り方は参考にすべきと思う．
        p 実際に学習させてみるところまでやっている．
          |CVPRな研究者は得意そう．
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://dl.acm.org/citation.cfm?id=3126651") ACM Library
          li
            a(href="http://users.eecs.northwestern.edu/~jjh380/pdf/Rico-UIST-2016.pdf") 論文
          li
            a(href="http://interactionmining.org/rico") プロジェクト
    .slide_index #{getSlideIndex()}
    .timestamp 2018.4.12 14:08:03
