+slide
section#ID_Semantic_Shape_Editing_Using_Deformation_Handles
  .paper-abstract
    .title Semantic Shape Editing Using Deformation Handles
    .info
      .authors Mehmet Ersin Yumer et al.
      .conference ACM SIGGRAPH, 2015.
    .item1
      h1 概要
      .text.
        物体の3次元形状を，ComfortableやFighterなどより高次な特徴に基づいて変形する手法の提案。クラウドソーシングによって，2つの三次元形状を比較してもらうことでattributeと形状の関係を調べ、どのように編集するかを決定する。
  
    .item2
      img(src=figpath+"180318shape.png")
    .item3
      h1 新規性・結果
      .text
        ul
          li クラウドソーシングによってattributeとgeometryの対応を定式化し、attributeに基づく変形を可能に
          li ユーザースタディによって、多くのユーザーが編集結果に満足したという結果を得た。
    .item4
      h1 自由記述欄
      .text
        ul
          li: a(href="https://dl.acm.org/citation.cfm?id=2766908" target="blank") 論文URL
    .slide_index
      | #{getSlideIndex()}
    .slide_editor Shintaro Yamamoto

