+slide
section#Social_Robots_for_Engagement_in_Rehabilitative_Therapies_Design_Implications_from_a_Study_with_Therapists
  .paper-abstract
    .title Social Robots for Engagement in Rehabilitative Therapies: Design Implications from a Study with Therapists
    .info
      .authors Katie Winkle, Praminda Caleb-Solly, Ailie Turton and Paul Bremner
      .conference HRI’18
      .paper_id pp. 289-297
    .slide_editor Ryota Suzuki
  
    .item1
      .text
        h1 概要
        p 理学療法，スポーツリハビリ等の各種セラピーに支援ロボットを導入した場合に
          |どうインタラクションしたらよいかについて，セラピストへのヒアリングを基に論じる．
        p ロボットのセラピーへの従事の利益があるという我々の仮説を裏付けるため，まず下の二つを聞いてみた．
        ol
          li セラピーにおいて，自己訓練の重要な点とは？典型的な支援方法は？
          li リハビリ療法支援において，どのようにロボットが役に立つと思われる？
        p さらに，有効なHRI戦略を導くため，聞いてみた．
        ol(start="3")
          li どのように作業を評価する？
          li 患者の作業に影響を及ぼす，セラピストの役割とは？
          li 患者それぞれにロボットの行動を仕立てるための方法論？
    .item2
      .text
        h1 結果
        p ロボットは，患者の自律的エクササイズへの意識の低さに対して支援を行える．
          |スマホなどの既存手法よりも先回り的な支援を行える．
        p この結果を踏まえ，HRI戦略のデザインの方法論を示す.
    .item3
      .text
        h1 評価点
        p 聞き取り調査の結果を論文にしたいならこの論文を読むのがよい．
        p BestPaper Nominee.
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://dl.acm.org/citation.cfm?id=3171273") ACM Library
    .slide_index #{getSlideIndex()}
    .timestamp 2018.3.9 14:34:36
