+slide
section#Some_like_it_hot_-_visual_guidance_for_preference_prediction
  .paper-abstract
    .title Some like it hot - visual guidance for preference prediction
    .info
      .authors Rasmus Rothe et al.
      .conference CVPR, 2016.
    .item1
      h1 概要
      .text.
        初対面の人物に対してどのような第一印象を抱くかを推定する手法。CNNによる抽出した特徴量を利用して、年齢や性別などのattributeを抽出する。また、抽出した特徴や過去のレーティングを基に、特定の個人が異性に対して良い印象と悪い印象どちらを第一印象で抱くかを推定する。
  
    .item2
      img(src=figpath+"180311like.png")
    .item3
      h1 新規性・結果
      .text
        ul
          li 個人の好みに基づいて印象の良し悪しを推定する
          li 同じフレームワークを用いて映画のレーティングも可能
          li デートサイトにおけるレーティングを用いて76%の精度で予測に成功した
    .item4
      h1 自由記述欄
      .text
        ul
          li: a(href="https://arxiv.org/pdf/1510.07867.pdf" target="blank") 論文URL
    .slide_index
      | #{getSlideIndex()}
    .slide_editor Shintaro Yamamoto
