+slide
  .title Teleoperation of a Robot through Audio-Visual Signal via Video Chat
  .info
    .authors Hisato Fukuda, Yoshinori Kobayashi and Yoshinori Kuno
    .conference HRI'18 LBR
    .paper_id pp. 111-112
  .slide_editor Ryota Suzuki

  .item1
    .text
      h1 概要
      p ロボット操作者と対話相手のモデレーションをする遠隔コミュニケーション支援ロボットにおいて，
        |ビデオチャット通信とロボット操作通信の両方を用意するのは，
        |通信品質を保ちにくく，規模も大きくなり，扱いが難しい．
        |そこで，ビデオチャットの映像に，人間にも直観的に解釈可能なアイコン画像として
        |遠隔ロボットへのコマンドを埋め込んでしまおうという新たな視点を提案．
  .item2
    .text
      p
        img(src=`${figpath}Teleoperation_of_a_Robot_through_Audio-Visual_Signal_via_Video_Chat_Figure1.png`,alt="Figure1")
  .item3
    .text
      h1 評価点
      p ロボットがハートの動きをしている，と人間が知覚しやすくなる．
        |人間とロボットがモーダル・認知を共有しつつ，通信の規模も抑えて実装しやすくする
        |（信頼度の高い既に用意されているビデオチャット通信回線1本あればいい）という一石二鳥の視点が面白い．
  .item4
    .text
      h1 リンク集
      ul
        li
          a(href="https://dl.acm.org/citation.cfm?id=3177037") ACM Library
  .slide_index #{getSlideIndex()}
  .timestamp 2018.3.29 13:55:50
