+slide
  .title "Thank You for Sharing that Interesting Fact!": Effects of Capability and Context on Indirect Speech Act Use in Task-Based Human-Robot Dialogue
  .info
    .authors Tom Williams, Daria Thames, Julia Novakoff and Matthias Scheutz
    .conference HRI’18
    .paper_id pp. 298-306
  .slide_editor Ryota Suzuki

  .item1
    .text
      h1 概要
      p 間接言語行為（ISA）の有無によって，タスクベースの人間-ロボット間対話においてどれほど役に立つのか，
        |ISAの理解能力なしにロボットはどれだけ機能するか調査した．
      p WoZによる実験をしてみた．
        |各条件について，人によるISAの使われっぷりを見る．
      ul
        li 慣例的社会規範(conventionalized social norms，慣習？)の有無
        li ロボットISAの理解能力の有無の条件において，ロボットのISAの使用と知覚の両方について分析
  .item2
    .text
      h1 結果
      ol
        li タスクベース人間ロボット対話において，ISAが理解できないことをちゃんと示してあっても，人はISAを普通に使う．
        li 慣例的社会規範があった場合，ISA使用は更に普通．
        li ロボットのISAのできなさは，ロボットのタスク効率と人間のロボットの知覚の両方において悪影響がある．
  .item3
    .text
      h1 評価点
      p 人がロボットに対してどう非言語行動をとるかについてはまだまだ未調査の部分が多いが，
        |そのうちの一つ，ISAについての道を示した重要な論文．
      p BestPaper Nominee.
  .item4
    .text
      h1 リンク集
      ul
        li
          a(href="https://dl.acm.org/citation.cfm?id=3171246") ACM Library
      p ※注　ISAとは，発話しながらも間接的に意味を伝える行為．
        |「車に乗れ」「空手の稽古があるの」＞間接的に乗車を拒否．
  .slide_index #{getSlideIndex()}
  .timestamp 2018.3.9 15:11:52
