+slide
section#ID_The_shape_of_art_history_in_the_eyes_of_the_machine
  .paper-abstract
    .title The shape of art history in the eyes of the machine
    .info
      .authors Ahmed Elgammal et al.
      .conference AAAI, 2018.
    .item1
      h1 概要
      .text.
        機械学習による絵画の分類に関する検証。VGGやＲｅｓＮｅｔなどのネットワークを用いて、絵画を分類するタスクを学習し、その中間出力を特徴量として考えることで分析を行っている。得られた特徴量を次元削減しその分布を可視化する、各軸と芸術分野において提唱されている分野との相関関係の算出などを行った。
  
    .item2
      img(src=figpath+"180325shapeofart.png")
    .item3
      h1 新規性・結果
      .text
        ul
          li 物体検出のタスクで学習したネットワークはgaborフィルターのようなものを見ているのに対して、絵画の分類を目的として学習したネットワークはより大域的な特徴を見ていることがわかった。
          li 得られた特徴量を可視化した結果、機械学習による絵画の識別によって絵画の時系列情報が得られていることが判明した。
    .item4
      h1 自由記述欄
      .text
        ul
          li: a(href="https://arxiv.org/abs/1801.07729" target="blank") 論文
    .slide_index
      | #{getSlideIndex()}
    .slide_editor Shintaro Yamamoto

