+slide
  .title Understanding Pedestrian Behaviors from Stationary Crowd Groups
  .info
    .authors Yi et al.
    .conference CVPR, 2015.
  .item1
    h1 概要
    .text.
      写っている人物の歩行ルートなどを検出する研究。動画のフレームから歩行が可能であるかのエネルギーマップを推定することにより目的地までのルートを推定する。エネルギーマップの作成には、噴水などの元々通行が不可能な箇所だけでなく、他の人の情報も考慮し、歩行者ごとに作成する。

  .item2
    img(src=figpath+"180312pedestrian.png")
  .item3
    h1 新規性・結果
    .text
      ul
        li 立ち止まっている人による影響を考慮した歩行のモデル化を行った
        li 12000人の歩行者の歩行ルートをannotationしたデータセットを構築
        li 歩行ルートや目的地の推定など、様々な歩行に関連した情報の抽出が可能に
  .item4
    h1 自由記述欄
    .text
      ul
        li: a(href="https://www.cv-foundation.org/openaccess/content_iccv_2015/papers/Yi_Pedestrian_Travel_Time_ICCV_2015_paper.pdf" target="blank") 同じ著者による関連研究
        li: a(href="https://www.cv-foundation.org/openaccess/content_cvpr_2015/papers/Yi_Understanding_Pedestrian_Behaviors_2015_CVPR_paper.pdf" target="blank") 論文URL
  .slide_index
    | #{getSlideIndex()}
  .slide_editor Shintaro Yamamoto
