+slide
section#ID_Visual_Forecasting_by_Imitating_Dynamics_in_Natural_Sequences
  .paper-abstract
    .title Visual Forecasting by Imitating Dynamics in Natural Sequences
    .info
      .authors Zeng et al.
      .conference ICCV, 2017.
    .item1
      h1 概要
      .text.
        動画シークエンスから未来を予測する研究。フレーム間の遷移モデルを考え，次のフレームや行動を推定する。適用対象はフレームの生成から次のシーンの選択など幅広い。
  
    .item2
      img(src=figpath+"180303visualforecasting.png")
    .item3
      h1 新規性・結果
      .text
        ul
          li ドメイン知識やhandcrafted特徴無しにinverse reinforcement learningとして学習させる
          li フレーム生成、行動予測、ストーリー予測全てにおいて精度の向上に成功した
    .item4
      h1 自由記述欄
      .text
        ul
          li: a(href="https://arxiv.org/abs/1708.05827" target="blank") 論文URL
    .slide_index
      | #{getSlideIndex()}
    .slide_editor Shintaro Yamamoto
    

