+slide
section#ID_VNect_Real-time_3D_Human_Pose_Estimation_with_a_Single_RGB_Camera
  .paper-abstract
    .title VNect: Real-time 3D Human Pose Estimation with a Single RGB Camera
    .info
      .authors A. Uthors, B. Uthors and C. Uthors
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka
  
    .item1
      .text
        h1 概要
        p Single RGBからの入力で姿勢推定を行い、3次元空間に投影してマーカレスモーキャプを実現。自己遮蔽や複雑姿勢などが発生してもロバストにキーポイントの追跡に成功した。
    .item2
      .text
        p
          img(src=`${figpath}180330VNNect.png`,alt="180330VNNect")
    .item3
      .text
        h1 新規性・結果
        p 結果は動画を参照。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="www") 論文
          li
            a(href="http://people.mpi-inf.mpg.de/~dmehta/VNectDemo/") Project
          li
            a(href="www") GitHub
          li
            a(href="https://www.youtube.com/watch?v=W1ZNFfftx2E") YouTube
          li
            a(href="https://qiita.com/latte_zero/items/7d28b96a8f666f393965") Qiita
    .slide_index #{getSlideIndex()}
    .timestamp 2018.3.30 14:44:20

