+slide
section#ID_WebSeg_Learning_Semantic_Segmentation_from_Web_Searches
  .paper-abstract
    .title WebSeg: Learning Semantic Segmentation from Web Searches
    .info
      .authors Qibin Hou, et al.
      .conference ECCV 2018
    .slide_editor Munetaka Minoguchi
  
    .item1
      .text
        h1 概要
        p 特定のキーワードに関連したFlickr画像を用いて、ユーザーのアノテーションに頼ることなく、自動的でセマンティックセグメンテーションの学習を行うWebSegの提案。(1)ウェブクローラによって、ユーザ定義のキーワードに関連する画像をダウンロード。(2)数種類の低レベルキュー(顕著性、エッジなど)を抽出し、それらを学習のヒューリスティクスとして結合。(3)Noise Filtering Module(NFM)を備えたセマンティックセグメンテーションネットワーク。の3部構成。ベースはDeeplab-Large-FOV。
    .item2
      .text
        p
          img(src=`${figpath}180330WebSeg.jpg`)
    .item3
      .text
        h1 新規性
        p フリーのWeb画像からセマンティックセグメンテーションを学習。ノイズの多いWeb画像と不完全なproxy ground-truthに関して、学習に望ましくないノイズの多い領域を除去するオンラインノイズフィルタリングメカニズムを考案。
    .item4
      .text
        h1 結果・リンク集
        p Web画像のみを使った学習にもかかわらず、従来の最先端の方法と比較して同等の結果を出している。
        ul
          li
            a(href="https://arxiv.org/pdf/1803.09859.pdf") 論文
    .slide_index #{getSlideIndex()}
    

