+slide
section#What_is_Human-like_Decomposing_Robots_Human-like_Appearance_Using_the_Anthropomorphic_roBOT_ABOT_Database
  .paper-abstract
    .title What is Human-like?: Decomposing Robots' Human-like Appearance Using the Anthropomorphic roBOT (ABOT) Database
    .info
      .authors Elizabeth Phillips, Xuan Zhao, Daniel Ullman and Bertram F. Malle
      .conference HRI’18
      .paper_id pp. 105-113
    .slide_editor Ryota Suzuki
  
    .item1
      .text
        h1 概要
        p 著者らが作った，擬人ロボットのコレクションデータベースABOTを活用して，
          |擬人ロボットの見た目について分析する．
          |ABOTは200の現実の擬人ロボットの，画像，パーツリスト，4つの観点
          |（Body-Manipulators, Surface Look, Facial Features, Mechanical Locomotion）
          |におけるスコアを含む．
        p 本研究では，調査のうえ先述の見た目に関する4つの観点を定義し，
          |またロボットの擬人性を推定しやすい特徴について解明した．
          |そのスコアリングシステムはWebで公開する．
    .item2
      .text
        p
          img(src=`${figpath}What_is_Human-like_Decomposing_Robots_Human_like_Appearance_Using_the_Anthropomorphic_roBOT_ABOT_Database_Figure1.png`,alt="Figure1")
    .item3
      .text
        h1 評価点
        p 盛りだくさん．
        ol
          li データベースABOT
          li 網羅的に定性的・定量的な評価
          li 評価ツールを公開
          li データベースの拡張性
        p BestPaper Nominee.
          |ところで被験者に0.5ドル払ったらしい．
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://dl.acm.org/citation.cfm?id=3171268") ACM Library
          li
            a(href="http://www.abotdatabase.info/") ABOT
    .slide_index #{getSlideIndex()}
    .timestamp 2018.3.9 11:38:49
