extends layouts/_layout

block slides
  +slide
    .title Title 
    .info Authors, Conference, Year 
    .item1
      h1 概要
      .text.
      Abstract
    .item2
      img(src="ganosaic.png")
    .item3
      h1 新規性・結果
      .text
        ul
          li ...
    .item4
      h1 自由記述欄
      .text.
        ...
